<div *ngIf="tableData.length > 0; else placeholder">
  <strong>Please Select Page Size: </strong>
  <select name="pageSize" id="pageSize"
        [(ngModel)]="pageSize"
        (ngModelChange)="changePageSize()">
    <option value="{{ps}}" *ngFor="let ps of pageSizeOptions">{{ ps }}</option>
  </select>

  <div class="theader-container" #tHeaderDiv>
    <table>
        <thead>
          <tr>
            <th>Action</th>
            <th *ngFor="let header of tableHeaderTitle">{{ header }}</th>
          </tr>  
        </thead> 
    </table>
  </div>

  <div class="tbody-container" (scroll)="scrollTBody($event)">
    <table>     
      <tbody>
        <tr *ngFor="let row of currentPageData">
          <td><button (click)="submit(row)">submit</button></td>
          <td *ngFor="let col of tableHeaderTitle">{{ row[col] }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <app-pagination [totalPages]="totalPages" (loadPage)="goToPage($event)"></app-pagination>
</div>
<ng-template #placeholder>
  <p>
    Loading data....
  </p>
</ng-template>

